section.square,
section.pill {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

span {
  padding: 2px 12px 2px 12px;
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

span.pill {
  border-radius: 12px;
}

span.square {
  border-radius: 4px;
}

.gray-square,
.gray-pill {
  background-color: #f3f4f6;
  color: #1f2937;
}

.red-square,
.red-pill {
  background-color: #fee2e2;
  color: #991b1b;
}
.yellow-square,
.yellow-pill {
  background-color: #fef3c7;
  color: #92400e;
}
.green-square,
.green-pill {
  background-color: #d1fae5;
  color: #065f46;
}
.blue-square,
.blue-pill {
  background-color: #dbeafe;
  color: #1e40af;
}

.indigo-square,
.indigo-pill {
  background-color: #e0e7ff;
  color: #3730a3;
}

.purple-square,
.purple-pill {
  background-color: #ede9fe;
  color: #5b21b6;
}

.pink-square,
.pink-pill {
  background-color: #fce7f3;
  color: #9d174d;
}

.banner {
  display: flex;
  align-items: center;
  background-color: #ecfdf5;
  border-radius: 6px;
  opacity: 1;
  padding: 16px 16px;
  /* height: 52px; */
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
}

.banner svg {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.banner-success {
  color: #065f46;
}

.svg-success {
  color: #34d399;
}

.banner-warning {
  background-color: #fffbeb;
  color: #92400e;
}

.svg-warning {
  color: #fbbf24;
}

.banner-error {
  background-color: #fef2f2;
  color: #92400e;
}

.svg-error {
  color: #f87171;
}

.banner-neutral {
  background-color: #eff6ff;
  color: #1e40af;
}

.svg-neutral {
  color: #60a5fa;
}
